@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body {

  --color1: rgb(0, 136, 255);
  --color2: rgb(201, 162, 197);
  --color3: rgb(250, 6, 185);
  --color4: rgb(255, 191, 0);
  --color5: rgb(170, 0, 255); 
  
  --header-height: 80px;
  --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
  --gutter: 30px;
  --footer-height: 25px;
  font-family: 'Titillium Web', sans-serif;
  background-color: var(--color2);
  overflow: visible;
  margin-top: 100px;
  margin-bottom: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  background-color:rgba(205, 126, 180, 0.399);
  padding-left: 15px;
  height: 10%;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  color: rgb(92, 1, 48);
}

button {
  font-size: 20px;
  margin: 5px;
}

.kpop-groups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.kpoplist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  border: 1px solid maroon;
  width: 600px;
  background-color:rgba(183, 121, 187, 0.488);
}

.pgroups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 3px double maroon;
  width: 500px;
  margin: 5px;
  padding: 5px;
  background-color:rgba(183, 121, 187, 0.735);
  margin-top: 20px;
}

label {
  display: block;
  margin: 5px;
}

.name {
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-shadow: 5px 5px 10px gray;
}

.members, .gender {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 30px;
  padding-right: 5px;
  margin: 5px;
  justify-items: center;
  align-items: center;
  font-weight: bolder;
}

.members-label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  padding: 0;
  margin: -5px;
}

.debut {
  font-size: 30px;
  font-weight: bold;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(254, 207, 244, 0.564);
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  color: blueviolet;
  border: 1px double rgb(103, 6, 118);
  width: 70%;
}

.disclaimer {
  font-size: 8px;
  justify-items: center;
  position: absolute;
  bottom: 20px;
}